.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .formSubmittedMsg{
    background-color: #fff;
    height: 200px;
    width: 500px;
    color: black;
    padding: 2rem;
    border-radius: 3px;
  }




  @media (max-width: 1024px) {
    .modularMainImg{
        width: 90vw !important;
    }

    .MainCaption{
        position: absolute;
        top: 15%;
        right: 15%;
     }

    }