

@media (max-width: 480px) {
  .ContactBox{
   display: block;
   width: 100% !important;
   padding: 1rem;
  }

  .contactImg{
   width: 100vw !important;
  }

  .userInputBox{
   width: fit-content !important;
  }

  .contactBoxInputs{
   width: 90% !important;
   height: 30px;
  }

  .form-check{
   column-gap: 2px;
  }
  .form-check-input{
   height: 1rem;
   width: 1rem !important;
   margin-left: 1rem;
  }
}

.formSubmittedMsg{
   background-color: #fff;
   height: 200px;
   width: 500px;
   color: black;
   padding: 2rem;
   border-radius: 3px;
   position: absolute;
   top: 30%;
   left: 30%;
 }




@media (max-width: 1024px) and (min-width: 500px) {
 
   .userInputBox{
       width: fit-content !important;
       padding: 1rem;
      }

      
   .contactBoxInputs{
       width: 90% !important;
       height: 45px;
       margin-top: 4rem;
      }
   
      .form-check{
       column-gap: 2px;
       row-gap: 3rem;
      }

      .form-check-input{
       height: 1rem;
       width: 1rem !important;
       margin-left: 1rem;

      }
   
}